@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel', serif;
}

body {
    width: 100%;
    background: #fcf5e7;
    
}

/* começo do header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #ebe2d0;
    border-bottom: 8px solid #a33a3a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 35px;
}

#navbar li {
    list-style: none;
    padding: 0 40px;
    
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: #a33a3a;
    
}

.fa-bag-shopping {
    position: absolute;
    font-size: 24px;
    top: -5px;
}

