@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel', serif;
}

body {
    width: 100%;
    background: #fcf5e7;
    
}

/* começo do header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #ebe2d0;
    border-bottom: 8px solid #a33a3a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 35px;
}

#navbar li {
    list-style: none;
    padding: 0 40px;
    
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    color: #4a2b10;
    
}

.fa-bag-shopping {
    position: absolute;
    font-size: 24px;
    top: -5px;
    color: #a33a3a;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    font-size: 1rem;
    color: #4a2b10;
}

.slide img {
    width: 100%;
}

.linha {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo__formulario {
    text-align: center;
    font-size: 0.656rem;
    color: #a33a3a;
    
}

form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form__1 {
    margin: 30px;
    color: #a33a3a;
}

.form__2 {
    margin: 30px;
    color: #a33a3a;
}

.form__3 {
    margin: 30px;
    color: #a33a3a;
}
 
#nome {
    margin-right: 10px;
    width: 200px;
}

#sobrenome {
    margin-right: 10px;
    width: 500px;
}

#dataNascimento {
    margin-right: 10px;
}

#email {
    margin-right: 10px; 
    width: 300px;
}

#whatsapp {
    margin-right: 10px;
}

#endereco {
    margin-right: 10px;
    width: 500px;
}

#bairro {
    margin-right: 10px;
    width: 300px;
}

#cidade {
    margin-right: 10px;
    width: 300px;
}

#estado {
    margin-right: 10px;
    width: 250px;
}

#cep {
    margin-right: 10px;
}